@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-sans: system-ui, sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

:root {
  --ui-radius: 1rem;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}